{% extends '::mobile-base.html.twig' %}
{% block content%}
<h2>New Calendar</h2>
<form action="{{ path('AcmeMobileBundle_addCalendar') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
	<button type="submit" name="Submit" class="btn register">
    Add
    </button>
</form>
{% endblock %}