<div id="weather">
<div class="thumbnail">
	<h4>Today</h4>
	<img src="{{ todaysWeather.icon }}" alt="{{ todaysWeather.condition }}" >
	<h5 class="condition">{{ todaysWeather.condition }}</h5>
	<div class="humidity">{{ todaysWeather.humidity }}</div>
</div>
</div>