{% form_theme form 'AcmeTaskBundle:Form:fields.html.twig' %}
<form action="{{ path('AcmeTaskBundle_new') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <input type="submit" />
</form>