{% extends '::mobile-base.html.twig' %}

{% block pageId %}learn_travel{% endblock %}

{% block content%}
<button data-theme="d" id="Action" onClick="startRec(this)">Start</button>
<div id="map_canvas" style="width: 100%;height: 280px;"></div>
<form action="{{ path('AcmeLearningBundle_saveTravel' ) }}" method="post">
	<input type="hidden" name="form[route]" id="latlng" />
	<button type="submit" data-theme="a" id="saveButton" onClick="updateTravel()">Save</button>
</form>
<div id="geolocation"></div>
{% endblock %}