#dashboard table thead td{
	font-weight: bold;
}
#dashboard table tbody td{
	padding: 2px;
	padding-bottom: 5px;
}
#dashboard .date{
	text-align: center;
	background: #0099FF;
	border-radius: 9px;
	padding: 2px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	color: #EEE;
	font-weight: bold;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#0099FF), to(#0bf));
background-image: -webkit-linear-gradient(#0099FF, #0bf);
background-image: -moz-linear-gradient(#0099FF, #0bf);
background-image: -ms-linear-gradient(#0099FF, #0bf);
background-image: -o-linear-gradient(#0099FF, #0bf);
background-image: linear-gradient(#0099FF, #0bf);
}
#dashboard table tbody .date{
	cursor: pointer;
}
#dashboard .border{
	margin: 0px;
	padding: 0px;
	height: 120px;
	overflow: hidden;
	background: #A6CCE6;
}
#dashboard table tbody td ul{
	list-style: none;
	margin: 3px;
	height: 98px;
	overflow: auto;
}
#dashboard table tbody td ul li{
	color: white;
	border-bottom: 1px solid #AAA;
	line-height: 18px;
	height: 20px;
	overflow: hidden;
}
#dashboard table tbody td ul li:hover{
	border-bottom: 1px solid #FFF;
	height: inherit;
}
#dashboard table tbody td ul li{
	padding-left: 3px;
}
#dashboard table tbody td ul li.noti{
	background-color: silver;
}
#dashboard table {
	width: 100%;
	margin-bottom: 18px;
	padding: 0;
	font-size: 13px;
	border-collapse: collapse;
	border-spacing: 0;
}
#dashboard table td {
	vertical-align: top;
	border-top: 1px solid #DDD;
}
#dashboard table th,#dashboard table td {
	padding: 10px 10px 9px;
	line-height: 18px;
	text-align: left;
}
#dashboard h1,#dashboard h2,#dashboard h3,#dashboard h4,#dashboard h5,#dashboard h6,#dashboard p,#dashboard blockquote,#dashboard pre,#dashboard a,
#dashboard abbr,#dashboard acronym,#dashboard address,#dashboard cite,#dashboard code,#dashboard del,#dashboard dfn,#dashboard em,#dashboard img,
#dashboard q,#dashboard s,#dashboard samp,#dashboard small,#dashboard strike,#dashboard strong,#dashboard sub,#dashboard sup,#dashboard tt,
#dashboard var,#dashboard dd,#dashboard dl,#dashboard dt,#dashboard li,#dashboard ol,#dashboard ul,#dashboard fieldset,#dashboard form,
#dashboard label,#dashboard legend,#dashboard button,#dashboard table,#dashboard caption,#dashboard tbody,#dashboard tfoot,#dashboard thead,
#dashboard tr,#dashboard th,#dashboard td {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: normal;
	font-style: normal;
	font-size: 100%;
	line-height: 1;
	font-family: inherit;
	border-image: initial;
}

body #dashboard{
	font: 13px Arial, Helvetica, sans-serif;
	color: #888;
	line-height: 20px;
}

#dashboard .border {
	display: block;
	padding: 4px;
	line-height: 1;
	border: 1px solid #DDD;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
	border-image: initial;
}
#dashboard .border:hover { border-color: #0088cc; -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25); -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25); box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25); }
#dashboard content {cursor: pointer;}
#dashboard a{text-decoration: none;}

#dashboard #fullscreen ul{
	padding: 10px;
	list-style: none;
	border: 2px solid #2D2D2D;
	background: white;
	color: black;
}
#dashboard #fullscreen *{
	opacity:1;
}
#dashboard #fullscreen ul li{
	border-bottom: 1px solid #AAA;
	line-height: 18px;
	height: 20px;
	padding: 5px;
}
#dashboard #fullscreen{
	position: absolute;
    top: 0;
    left: 0;
    width: 75%;
    height: 75%;
    padding: 15%;
    background: #4D5152;
	opacity: 0.9;
}
#dashboard #fullscreen #closeBtn{ 
	width: 26px;
	height: 26px;
	background: white url('../images/close.gif') no-repeat;
	display: block;
	float: right;
	border-radius: 5px;
	top: -26px;
	border: 2px solid;
	margin: 10;
	cursor: pointer;
}

#dashboard #fullscreen ul li:hover{
	background:#F4F4F4;
}