#addNew content{
	width: 600px;
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -320px;
	background: #EBE8D9;
	padding: 20px;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	box-shadow: 0 0 10px #629996;
	-moz-box-shadow: 0 0 10px #629996;
	-webkit-box-shadow: 0 0 10px #629996;
	margin-top: -15px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	z-index: 1;
}
#addNew content form input[type=text]{
	width: 530px;
}
.ui-autocomplete.ui-menu.ui-widget.ui-widget-content.ui-corner-all{
list-style: none !important;
background: white !important;
padding: 5px !important;
border: 1px solid gray !important;
width: 528px !important;
}
#addNew #did-you-mean{
	color: blue;
	font-weight: bold;
}