<script type="text/javascript" >
$(function(){
	$('#news-feed').loading();
	$.ajax({
		url: '{{ url('AcmeNewsBundle_ajax_panel') }}',
		success: function(r){
				$('#news-feed').html(r.page);
		}
	},loadnewsFeed());
	setInterval(loadnewsFeed, 1500);
	//$("#news-feed").click(function(){loadnewsFeed();});
});
function loadnewsFeed(){

	var scroll = $("#news-feed").scrollTop()+25;
	if(230 <= scroll){scroll=0;}
	$("#news-feed").stop().animate({
			scrollTop: scroll
		}, 1500,'easeInOutExpo');
}
</script>
<div id="news-feed"  style="height: 200px;overflow: hidden;margin-bottom: 0;" class="border"></div>