<script type="text/javascript" >
$(function(){
	$('#news-feed').loading();
	$.ajax({
		url: '{{ url('AcmeNewsBundle_ajax_panel') }}',
		success: function(r){
				$('#news-feed').html(r.page);
		}
	},loadnewsFeed());
	setInterval(loadnewsFeed, 3000);
	//$("#news-feed").click(function(){loadnewsFeed();});
});
function loadnewsFeed(){
	var li = $("<li>"+$("#news-feed-list li").last().html()+"</li>").hide();
	$("#news-feed-list").prepend(li);
	li.fadeIn("slow");
	$("#news-feed-list li").last().remove();
		
}
</script>
<div id="news-feed"  style="height: 200px;overflow: hidden;margin-bottom: 0;" class="border"></div>