<script type="text/javascript" >
$(function(){
	$('#news-feed').loading();
	$.ajax({
		url: '{{ url('AcmeNewsBundle_ajax_panel') }}',
		success: function(r){
				$('#news-feed').html(r.page);
		}
	},loadnewsFeed());
});
function loadnewsFeed(){
	$('#news-feed').vTicker({ 
		speed: 500,
		pause: 3000,
		animation: 'fade',
		mousePause: false,
		showItems: 3,
		height: 300
	});
}
</script>
<div id="news-feed" class="border"></div>