<div id="dashboard"></div>
<script type="text/javascript" >
$('#dashboard').loading();
$.ajax({
	url: '{{ url('AcmeDashBundle_ajax_panel') }}',
	success: function(r){
			$('#dashboard').html(r.page);
	}
});
$('#dashboard').parent().find("h2").click(function(){
	$.ajax({
		url: '{{ url('AcmeDashBundle_ajax_panel') }}',
		success: function(r){
			$('#dashboard').html(r.page);
		}
	});
});
</script>
<script type="text/javascript" >
function zoomIn(that){
	var date = $(that).attr('date');
	alert(date);
}
</script>