{% extends '::base.html.twig' %}

{% block content%}
<section id="addNew">
	<header>
		<h2>Quick Add</h2>
	</header>
	<content>
		{% render "AcmeTaskBundle:Panel:AddNewTask" %}
	</content>
</section>
<div class="">
	<div class="col">
		<div class="widget">
		<h2>Calendars</h2>
			{% render "AcmeCalendarBundle:Default:userCalendars" %}        
	</div>
	<div class="widget" style="height: 300px;">
		<h2>Location</h2>    
			{% render "AcmeLocationBundle:Default:index" %}
	</div>
</div>
<section class="col middle-col">
	<header>
		<h2>
		Dashboard
			<navigation>
				<a href="{{ url('AcmeDashBundle_ajax_panel') }}" class="nav" target="dashboard">Tasks</a>
				<a href="{{ url('AcmeUserBundle_profile') }}" class="nav" target="dashboard">Profile</a>
				<a href="{{ url('AcmeCalendarBundle_dash_list_calendars') }}" class="nav" target="dashboard">Calendars</a>
			</navigation>
		</h2>
	</header>
		{% render "AcmeDashBundle:Default:index" %}
</section>
<div class="col" style="position: absolute;right: 35px;">
	<div class="widget">
		<h2>Weather</h2>
			{% render "AcmeWeatherBundle:Default:index" %}
		</div>
		<div class="widget">
		<h2>News</h2>
			{% render "AcmeNewsBundle:Default:index" %}
		</div>
	</div>
</div>
{% endblock %}