{% extends '::base.html.twig' %}

{% block content%}
<section id="addNew">
	<header>
		<h2>Quick Add</h2>
	</header>
	<content>
		{% render "AcmeTaskBundle:Panel:AddNewTask" %}
	</content>
</section>
<div class="">
 <div class="col">
  	<div class="widget">
    <h2>Calendars</h2>
		{% render "AcmeCalendarBundle:Default:userCalendars" %}        
  </div>
  <div class="widget" style="height: 300px;">
    <h2>Location</h2>    
		{% render "AcmeLocationBundle:Default:index" %}
  </div>
 </div>
 <section class="col middle-col">
 	<header>
		<h2>Dash</h2>
	</header>
   <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
   <p><a class="btn" href="#">View details »</a></p>
 </section>
 <div class="col" style="position: absolute;right: 35px;">
 	<div class="widget">
    <h2>Weather</h2>
		{% render "AcmeWeatherBundle:Default:index" %}
   </div>
   <div class="widget">
    <h2>News</h2>
    	{% render "AcmeNewsBundle:Default:index" %}
   </div>
 </div>
</div>
{% endblock %}